body{
    background-color: rgb(61, 61, 61);
}

h2{
    margin-bottom: 50px;
}

.parallax-container {
    height:300px;
    
}

.section{
    color:white;
}

#name{
    color:#4aaaa5;   
}

a {
    color:white;
    margin-left: 10px;
}

a:hover{
    color:#4aaaa5;
}

.header{
    color:#4aaaa5;
}

#profPic{
    width:35%;
    transform: rotate(270deg);
    float:left;
    margin:20px 5px 42px -20px;
    border-color: black;
    max-height: 310px;
}

.repoPic{
    width:100%;
}

.repoDiv:hover{
    border: solid #4aaaa5 3px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: rgb(61, 61, 61);
}

.repoDiv:hover .repoTitle{
    border-bottom: solid rgb(61, 61, 61);
}

.repoTitle{
    font-size:150%;
}

#firstImage{
    width:50%;
    margin-bottom:10px;
}

#secondImage{
    width:60%;
}

#thirdImage{
    width:50%;
}

.repoModal{
    position:fixed;
    color:rgb(90, 90, 90);
    background-color: rgb(240, 240, 240);
    border: solid black 6px;
    border-radius: 15px;
    top: 10%;
    z-index: 1;
    width: 80%;
    margin-left:10%;
    max-height: 80%;
    overflow: auto;
}

#modalTitle{
    color:black;
}

li{
    margin-bottom: 10px;
}

#modalLink{
    color:rgb(90, 90, 90);
}

#modalLink:hover{
    color:#4aaaa5;
    cursor: pointer;
}

.repoModal::-webkit-scrollbar {
    width: 1em;
}
 
.repoModal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 15px;
}
 
.repoModal::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  -webkit-border-radius: 15px;
}

#modalPic{
    width:100%;
    border:black solid;
    border-radius: 3px;
}

.linksHeader{
    border-bottom: solid black;
}

.modalSection{
    border-bottom: solid black;
}

#closeModal{
    position: absolute;
    right:5%;
    top:4%;
    font-size: 30px;
}

#closeModal:hover{
    color: red;
    cursor: pointer;
}