body{
    background-color: rgb(61, 61, 61);
}

.parallax-container {
    height:300px;
    
}

.section{
    color:white;
}

#name{
    color:#4aaaa5;   
}

a {
    color:white;
    margin-left: 10px;
}

a:hover{
    color:#4aaaa5;
}

.header{
    color:#4aaaa5;
}

#profPic{
    width:35%;
    transform: rotate(270deg);
    float:left;
    margin:20px 10px 30px -20px;
    border-color: black;
}

.repoPic{
    width:100%;
}

.repoDiv:hover{
    border: solid #4aaaa5 3px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.repoDiv:hover .repoTitle{
    border-bottom: solid black;
}

.repoTitle{
    font-size:150%;
}

#firstImage{
    width:50%;
    margin-bottom:10px;
}

#secondImage{
    width:60%;
}

#thirdImage{
    width:50%;
}